includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5

    paths:
        - .   # whole plugin

    excludePaths:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/node_modules/*
        - %currentWorkingDirectory%/tests/*

    bootstrapFiles:
        - vendor/szepeviktor/phpstan-wordpress/bootstrap.php

    memoryLimit: 512M
