parameters:
    level: 5

    paths:
        - .

    excludePaths:
        - */approved templates
        - */temporary _ approved designs
        - */*ajax*.php
        - */*Ajax*.php

    bootstrapFiles:
        - apollo-core/apollo-core.php
