name: Quality

on:
  pull_request:
  push:
    branches: [ "main", "master" ]

jobs:
  qa:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
          tools: composer

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist --no-progress

      - name: PHPCS (style)
        run: composer lint:phpcs

      - name: PHPStan (static analysis)
        run: composer analyze:phpstan
